#! /bin/zsh
# DIRENV configuration file used to set different environment version tools
direnv allow
export ENVIRONMENT_STAGE=#Empty
export ENVIRONMENT_CONFIG_FILE=".env${ENVIRONMENT_STAGE}"

if [ -f "${ENVIRONMENT_CONFIG_FILE}" ]; then
  dotenv "${ENVIRONMENT_CONFIG_FILE}"
  teller show
fi
